### IntelliJ IDEA ###
.idea/
*.iml
out/
*.ipr
*.iws

### Build and Output ###
/out/
build/
target/
*.class
*.jar
*.war
*.ear

### Logs ###
*.log
*.log.*

### Maven ###
dependency-reduced-pom.xml
build.log
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

### Gradle ###
.gradle/
build/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### General ###
*.swp
*.swo
*.~lock.*
*~
*.tmp
*.bak

# Lock files
*.lock

# Environment variable files
.env
.env.*

### Python/Virtual Environment ###
*.pyc
__pycache__/

### Editor backups ###
*.idea.old/

